/************************* FUENTES ***********************/
@font-face {
	font-family: 'GeosansLight';
	src: url('../assets/GeosansLight/GeosansLight-Oblique.ttf');
	src: url('../assets/GeosansLight/GeosansLight.ttf');
}

$fuenteTexto: 'GeosansLight';

/************************* COLOR ***********************/
$colorPrimary: #eeedde;
$colorSecondary: #e0ddaa;

/************************* BACKGROUND COLOR ***********************/
$backgroundColorPrimary: #141e27;
$backgroundColorSecondary: #203239;
